.hb_fertility_hero {
  margin-bottom: 40px;
  position: relative;
}
.hb_fertility_hero .hb_main_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hb_fertility_hero--text {
  width: 48.77%;
  padding-top: 90px;
}
.hb_fertility_hero--img {
  width: 65%;
}
.hb_fertility_hero--title1 {
  font-family: PT Serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  color: #0e4080;
}
.hb_fertility__bg--img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ffffff 42%, rgba(255, 255, 255, 0) 100%);
}
/* .hb_fertility__bg--img {
  background-image: url("images/baby.png");
} */
.hb_fertility_no_bg {
  width: 41.6%;
  content: "";
}
.hb_fertility__bg--img {
  width: 58.4%;
  height: 310px;
}
.hb_fertility_bg {
  display: flex;
}
.hb_fertility__para {
  margin-bottom: 63px;
}
.hb_fertility__para--style {
  font-family: Sofia Pro;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #2f63a6;
}
.hb_treatment {
  background: #dde7f366;
  border-radius: 13px;
  margin-bottom: 60px;
  padding-bottom: 50px;
}
.hb_treatment .hb_wrapper {
  flex-direction: column;
  align-items: center;
}
.hb_treatment__head {
  background: linear-gradient(90deg, #3465a4 -6.7%, #1bb8b8 115.94%);
  width: 98%;
  margin-top: 13px;
  border-radius: 8px;
  text-align: center;
  padding: 20px 0;
}
.hb_treatment__head--title {
  font-family: PT Serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
}
.hb_treatment__head--para {
  font-family: Sofia Pro;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #2f63a6;
  max-width: 80.66%;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.hb_treatment__list {
  max-width: 86.83%;
  width: 100%;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.hb_treatment__ul li {
  list-style: none;
  font-family: Sofia Pro;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #0e4080;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}
.hb_benifit {
  margin-left: 7.59%;
  margin-right: 7.59%;
  margin-bottom: 50px;
}
.hb_benifit .hb_wrapper {
  gap: 60px;
  align-items: center;
}
.hb_benifits__text--title {
  font-family: PT Serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #0e4080;
  margin-bottom: 24px;
}
.hb_benifits__text--para {
  font-family: Sofia Pro;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #0e4080;
  margin-bottom: 15px;
  max-width: 80.21%;
  width: 100%;
}
.hb_benifit__img {
  max-width: 57.7%;
  width: 100%;
}
.hb_benifit__text {
  max-width: 70%;
  width: 100%;
}
.hb_benifits__text--ul li {
  font-family: Sofia Pro;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #2f63a6;
  list-style-position: inside;
}
.hb_our_doctors {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hb_our_doctors .hb_wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hb_our_doctors--title1 {
  font-family: Sofia Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  color: #e94c94;
  margin-bottom: 6px;
}
.hb_our_doctors--title2 {
  font-family: PT Serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #0e4080;
  margin-bottom: 40px;
}
.hb_doctors_list {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 50px;
}
.hb_doctors__img {
  width: 208px;
  height: 200px;
  gap: 0px;
  border-radius: 200px;
  background: #dde7f3;
  margin-bottom: 24px;
}
.hb_doctor__name {
  font-family: Sofia Pro;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  color: #0e4080;
  margin-bottom: 10px;
}
.hb_doctor_deisgnation {
  font-family: Sofia Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #0e4080;
}
.hb_doctors--item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hb_fertility_appoinment .hb_main_container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 1280px) {
  .hb_doctors_list {
    gap: 70px;
  }
}
@media screen and (max-width: 1199px) {
  .hb_treatment__list {
    max-width: 98%;
    margin-left: 22px;
    margin-right: 15px;
    gap: 0;
  }
  .hb_benifit {
    margin-left: 0;
    margin-right: 0;
  }
  .hb_benifit .hb_wrapper {
    gap: 40px;
  }
  .hb_benifits__text--title {
    font-family: PT Serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    color: #0e4080;
    margin-bottom: 15px;
  }
  .hb_benifits__text--para {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 15px;
    max-width: 100%;
    width: 100%;
  }
  .hb_benifits__text--ul li {
    font-size: 16px;
    line-height: 24px;
  }
  .hb_doctors_list {
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 40px;
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  .hb_fertility_hero--title1 {
    font-size: 50px;
    line-height: 50px;
  }
  .hb_benifit .hb_wrapper {
    flex-direction: column;
  }
  .hb_benifit__img {
    max-width: 100%;
  }
  .hb_benifit__text {
    max-width: 100%;
  }
  .hb_treatment__list {
    max-width: 97%;
  }
  .hb_treatment__ul li {
    font-size: 12px;
    line-height: 12px;
    gap: 5px;
  }
  .hb_treatment {
    padding-bottom: 30px;
  }
  .hb_treatment__head--para {
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .hb_fertility_hero--title1 {
    font-size: 28px;
    line-height: 30px;
  }
  .hb_fertility_bg {
    display: none;
  }
  .hb_fertility_hero {
    margin-bottom: 24px;
  }
  .hb_fertility_hero .hb_main_container .hb_wrapper {
    flex-direction: column;
  }
  .hb_fertility_hero--text {
    width: 100%;
  }
  .hb_fertility_hero--img {
    width: 100%;
  }
  .hb_fertility_hero .hb_main_container {
    position: relative;
  }
  .hb_fertility_hero .hb_wrapper {
    gap: 24px;
  }
  .hb_fertility_hero--text {
    padding-top: 40px;
    text-align: center;
  }
  .hb_fertility--img {
    margin-left: -24px;
    position: relative;
    width: 100vw;
  }
  .hb_fertility__para--style {
    font-size: 15px;
    line-height: 20px;
  }
  .hb_fertility__para {
    margin-bottom: 40px;
  }
  .hb_treatment {
    margin-bottom: 60px;
  }
  .hb_treatment__head--title {
    font-size: 18px;
    line-height: 16px;
  }
  .hb_treatment__head {
    margin-top: 10px;
    padding: 13px 0;
    width: 96%;
  }
  .hb_treatment__head--para {
    max-width: 86.55%;
    font-size: 15px;
    line-height: 20px;
  }
  .hb_display_desktop {
    display: none;
  }
  .hb_treatment__ul li {
    font-size: 13px;
    line-height: 15px;
    gap: 8px;
  }
  .hb_doctors__img {
    width: 130px;
    height: 130px;
    top: 2290px;
    left: 40px;
    gap: 0px;
    border-radius: 200px;
  }
  .hb_doctor__name {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
  }
  .hb_doctor_deisgnation {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }
  .hb_doctors--item {
    max-width: 44%;
    width: 100%;
  }
  .hb_benifits__text--title {
    text-align: center;
  }
  .hb_benifits__text--para {
    max-width: 95.33%;
    font-family: Sofia Pro;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
  }
  .hb_benifits__text--ul {
    max-width: 91.89%;
    width: 100%;
  }
  .hb_fertility_appoinment .hb_main_container {
    margin-bottom: 60px;
  }
  .hb_benifits__text--ul li {
    padding-left: 20px;
    text-indent: -20px;
  }
}
