:root{
    --hb-ingredient-color:rgb(53, 45, 167):
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.hb-display-inline-block{
    display:inline-block;
}
.hb_announcement_bar {
    background-color: rgb(53, 45, 167);
    height:34px;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center;
}
.hb_announcement_bar--text{
    color:white;
    vertical-align: middle;
    text-align: center;    
}
.hb_header_section{
    /* height: 120px; */
}
.hb_header_section__logo{
    position:relative;
    width: 141px;
    top: 0px;
    left: 75px;
    gap: 0px;
    opacity: 0px;
    height: 80px;

}
.hb_announcement__btn{    
    background: linear-gradient(90deg, #3465A4 -6.7%, #1BB8B8 115.94%);    
    border-radius: 5px ;
    color:white;
    width: 225px;
    height: 40px;
    top: 69px;
    left: 1140px;
    gap: 0px;
    opacity: 0px;
    
}
.hb_header__section{
    width:33%;
}
.hb_header__fa{
    margin-right:5px;
}
.hb_header__search-box{
    width: 365px;
    height: 40px;
    position:absolute   ;
    top: 69px;
    left: 450px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
}
.hb_header__btn-section{
    position: absolute;
    top: 65px;
}
.hb_header__bar{
    border: 1px solid #DDE7F3;
    top: 144px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    height: 0px;
}
.hb_header__menue{
    
    height: Fixed (16px)px;
}
.hb_header__menue ul{
    
  margin: 0;
  padding: 0;
  display: flex;
}
.hb_header__menue ul li{
    display:inline-block;    
}
.hb_header__menue ul li a{
    display: inline-block;
    color: #2F63A6;
    text-decoration: none;
    font-family: Sofia Pro;
    font-weight: 600;
    line-height: 1.4;
    padding: 10px 30px;
    text-align: left;
    gap: 0px;
    opacity: 0px;
    font-size: 17px;   
}
.hb_slide__img{
    position: relative;
    width: 100%; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden;

}
.hb_sldes__overly--text{
    position: absolute;
    top: 70%; /* Center vertically */
    left: 15%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    color: white; /* Text color */    
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    font-size: 50px;
}
.hb_slided__overly--paragraph{
    position: absolute;
    top: 90%; /* Center vertically */
    left: 14%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    color: white; /* Text color */
}
.hb_section2{
    padding: 40px;
}
.hb_section2__p{
    color: #0E4080;

    font-family: PT Serif;
font-size: 30px;
font-weight: 400;
line-height: 36px;
text-align: center;

}

.hb_header {
    width: 100%;
}
.hb_page-width {
    width: 90%;
    max-width: 1290px;
    margin: 0 auto;
}